body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Calculator {
  background-color: darkgreen;
  width: 400px;
  height: 300px;
  position: relative;
  margin: 25px;
}
